name: BuildTest

on:
  workflow_dispatch:
    inputs:
      build_mode:
        description: 'Build mode (debug/release)'
        required: true
        default: 'debug'
        type: choice
        options:
          - debug
          - release

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y llvm-17 clang-17
      
      - name: Build
        run: |
          chmod +x build_odin.sh
          LLVM_CONFIG=llvm-config-17 ./build_odin.sh ${{ inputs.build_mode }}